.block {
    width: 500px;
    height: 1000px;
}

.cadetblue {
    background: cadetblue;
}

.antiquewhite {
    background: antiquewhite;
}

.code-box-demo {
    padding: 42px 24px 50px;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #ebedf0;
}
.scrollable-container {
    height: 200px;
    overflow-y: scroll;
    position: relative;
}
.background {
    padding-top: 160px;
    height: 600px;
    background-image: url(https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg);
}

.xy-manual-container {
    position: relative;
    min-height: 500px;
    padding: 0 170px 144px 64px;
    overflow: hidden;
    font-size: 14px;
    height: 3674px;
    background: bisque;
}

.top-affix {
    position: absolute;
    top: 8px;
    right: 20px;
    background: aquamarine;
}

.demo-top {
    margin: 16px 0;
    padding-left: 0;
    font-size: 12px;
    list-style: none;
    border-left: 1px solid #ebedf0;
    a {
        display: block;
        width: 110px;
        margin-left: -1px;
        padding-left: 16px;
        overflow: hidden;
        color: #314659;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-left: 1px solid transparent;
        transition: all 0.3s ease;
        text-decoration: none;
    }

    & > li {
        margin-left: 0;
        padding-left: 0;
        line-height: 1.5;
        list-style: none;
    }
}
